:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
html, body {margin: 0; height: 100%; }

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    background: #262626;
    color: #fff;
    font-family: 'Traditional Arabic', Amiri, Calibri;
    width: 100vw;
    overflow-x: hidden;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 156, 156, 0.09);
    text-align: center;
    margin: 1em 0;
}



.container {
    margin: auto 0.4em;
    width: 100%;
    background-color:#303032;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px grey;
}


.flex {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-direction: row; */
}

main{
    width: 100%;
    padding: .5em 1em;
    margin: 0;
    /* margin-right: 1em; */
}

.item{
    border: 1px solid black;
    /* padding: 0 0em; */
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    font-size: 80px;
    text-shadow:  5px 5px 2px darkblue;
    margin: 0;
    /* text-shadow: 0 0 20px orange; */
}