


:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}


body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: hsl(var(--hue), 100%, 20%); */
    background: #262626;
    color: #fff;
    font-family: 'Traditional Arabic', Amiri, Calibri;
}

section {
    display: flex;
    /* max-width: 70vw; */
    /* height: 60vh; */
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 156, 156, 0.09);
    text-align: center;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    margin: auto 0.4em;
    width: 100%;
    /* max-width: 80%; */
    background-color:#303032;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px grey;
    
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    
}

.btn {
    /* height: 5em; */
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 2rem;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}








/*/**/

.optionchoice {
    border:1px dashed grey; 
    padding: 5px; 
    font-size: 2rem; 
    width: fit-content;
    margin: 0.2rem;
}

.optionchoice:hover {
    border:1px dashed lightgray; 
    color: lightgrey
}

.flexgrid{
    /* display: grid;
    grid-template-columns: repeat(auto, auto); */
    margin: 0px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.lessonmenu {
    display: flex;
    display: grid;
    grid-template-columns: repeat(10, auto);
    /* width: 30vw; */
    gap: 1px;
    margin: 8px 0;
    text-align: center;
}

.chooselessonno:hover{
    background-color: hsl(var(--hue), 100%, 50%);
}